{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main Section Start -->
<div class="main-section">
    {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- add side bar -->
                    {% include 'includes/buss_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">Manage Your Business</h5>
                            <!-- My Restaurants Form Start -->
                            <form action="{% url 'b_profile' %}" method='POST' enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-fields-set">
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            {% if profile.profile_picture %}
                                                                            <img class="thumbnail"
                                                                                src="{{ profile.profile_picture.url }}"
                                                                                alt="business-logo">
                                                                            {% else %}
                                                                            <img class="thumbnail"
                                                                                src="{% static 'extra-images/default_profile_image.jpg' %}"
                                                                                alt="Default Profile Picture">
                                                                            {% endif %}

                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>Update Business Profile Picture</label>
                                                            <div class="upload-gallery">
                                                                {{profile_form.profile_picture}}
                                                            </div>
                                                        </div>
                                                        <label class="text-danger"> {{
                                                            profile_form.profile_picture.errors }} </label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            {% if profile.cover_photo %}
                                                                            <img class="thumbnail"
                                                                                src="{{profile.cover_photo.url}}"
                                                                                alt="cover-photo">
                                                                            {% else %}
                                                                            <img class="thumbnail"
                                                                                src="{% static 'extra-images/cover-image.jpg' %}"
                                                                                alt="cover-photo">
                                                                            {% endif %}

                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>Update Cover Photo</label>
                                                            <div class="upload-gallery">
                                                                {{profile_form.cover_photo}}
                                                            </div>

                                                        </div>
                                                        <label class="text-danger"> {{ profile_form.cover_photo.errors
                                                            }} </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            <img class="thumbnail"
                                                                                src="{{business.bus_tax_cert.url}}"
                                                                                alt="tax-cert">
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>Update Tax Certifcate</label>
                                                            <div class="upload-gallery">
                                                                {{bus_form.bus_tax_cert}}
                                                            </div>
                                                        </div>
                                                        <label class="text-danger"> {{ bus_form.bus_tax_cert.errors }}
                                                        </label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Restaurant name *</label>
                                                        {{bus_form.bus_name}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Address *</label>
                                                        {{profile_form.address}}
                                                        <small class="text-muted ">powered by Google</small>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>city*</label>
                                                        {{profile_form.city}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Post Code*</label>
                                                        {{profile_form.post_code}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Country*</label>
                                                        {{profile_form.country}}
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Latitude*</label>
                                                        {{profile_form.latitude}}
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Longitude*</label>
                                                        {{profile_form.longitude}}
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <div class="field-holder">
                                            <div class="payment-holder input-button-loader">
                                                <input class="update-restaurant" type="submit" value="Update Business">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- My Restaurants Form End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% include 'includes/alerts.html' %}

{% endblock %}